body {
    font-family: Arial, Helvetica, sans-serif;
}

.alert-container {
    height: 125px;
    width: 300px;
    border-radius: 5px;
    border-width: 1px;
    border-color: lightgray;
    border-style: solid;
    display: grid;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    font-size: 18px;
    margin: 0px;
    align-content: center;
    margin-left: 10px;
}

.number {
    margin: 0px;
    align-self: center;
    background-color: royalblue;
    color: white;
    font-weight: 700;
    padding: 5px 12px;
    border-radius: 14px;
    height: 20px;
    margin-right: 10px;
}