:root {
    --off-white: #F3F7F0;
    --off-black: #1F1D20;
    --primary: #7067CF;
    --secondary: #F58549;
    --nav-height: 64px;
}

body {
    font-family: "Alan Sans", sans-serif;
    margin: 0;
    padding-top: var(--nav-height);
    box-sizing: border-box;
}


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--off-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--nav-height);
    z-index: 1000;
    box-sizing: border-box;
    padding: 0 16px;
}

#homepage-link {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    flex: 1;
}

.nav-header {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 10px;
    margin: 0px;
}

.nav-header h1 {
    font-size: 24px;
    color: var(--off-black);
    margin: 0px;
}

.logo {
    width: 50px;
}

.searchbar {
    padding: 5px 10px;
    font-family: inherit;
    font-size: 16px;
    border: 2px solid var(--off-black);
    border-radius: 15px;
    flex: 1.25;
    min-width: 0;
}

.searchbar:focus {
    outline: none;
    border-color: var(--primary);
}

.nav-links {
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.login {
    background-color: var(--off-black);
}

.login:hover {
    opacity: 0.8;
}

.signup {
    background-color: var(--primary);
}

.signup:hover {
    opacity: 0.8;
}


.posts-container {
    display: flex;
    gap: 20px;
    padding: 0px 20px;
    box-sizing: border-box;
}

.post {
    background-color: var(--off-white);
    border: 1px solid var(--off-black);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    box-sizing: border-box;
}

.post-heading {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
    margin-bottom: 10px;
}

.post-title {
    font-size: 24px;
    color: var(--off-black);
    display: inline-block;
    margin: 0;
    align-self: center;
}

.post-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 10px;
}

.post-user {
    font-size: 16px;
    color: var(--primary);
    text-decoration: none;
}

.hobby-group {
    font-size: 16px;
    color: var(--secondary);
    text-decoration: none;
}

.post-image {
    width: 100%;
    border-radius: 10px;
}

.post-desc {
    font-size: 16px;
    color: var(--off-black);
    margin: 0;
}